@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #635BFF; /* Indigo Purple */
  --secondary: #0A84FF; /* Apple Blue */
  --surface: #EDEFFE; /* Subtle bg tint */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #8b85ff;
    --secondary: #2a9bff;
    --surface: #0f0f15;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
